
*************************************************************

 Welcome to VyOS, an open source network operating system!
 Linkintel build. 
                                                         
 Version: __VERSION__
                                                          
 Default login:    vyatta
 Default password: vyatta

 To start installation, login and use command:
     install image
 If you want to add packages later, install by:
     install system

 For additional information visit http://www.vyos.net

*************************************************************

07Press <0fF107>control and F then 1 for help, or ENTER to
